<p id="notice"></p>

<h1>明細</h1>

<p>
  <strong>金額:</strong>
  <%= @expense.price %>
</p>

<p>
  <strong>支出/収入:</strong>
  <%= @expense.ex_in_flag %>
</p>

<p>
  <strong>カテゴリ:</strong>
  <%= @expense.category %>
</p>

<p>
  <strong>サブカテゴリ:</strong>
  <%= @expense.sub_category %>
</p>

<p>
  <strong>日付:</strong>
  <%= @expense.use_date %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @expense.memo %>
</p>

<%= link_to 'Edit', edit_expense_path(@expense) %> |
<%= link_to 'Back', expenses_path %>
